<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vlaksuga.namechemistry">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_nc_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_nc_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ResultActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7714576164572355~1542280524" />
    </application>

</manifest>